.search-section {
	margin: 0 auto;
	padding: 20px 0;
	border-bottom: 5px solid #ffa429;
	.search-block {
		.suchprofile-btn {
			display: block;
			margin: 0 auto 20px;
			width: 148px;
			height: 36px;
			color: white;
			text-align: center;
			font: 400 18px /36px $OpenSans;
			text-transform: uppercase;
			background-color: #ffba62;
			border-radius: 10px;
		}

		.progile-block {
			overflow: hidden;
			margin: 0 auto;
			text-align: center;
			.progile-title {
				display: inline-block;
				margin: 0 10% 0 0;
				color: black;
				font: 400 22px / 50px $OpenSans;
				text-transform: uppercase;
			}
			.progile-btn {
				margin: 13px 0 0 0;
				color: black;
				font: 400 16px / 27px $OpenSans;
				text-decoration: underline;
				text-transform: uppercase;

				&:hover {
					text-decoration: inherit;
				}
			}
		}
	}
}
.slider-section {
	padding: 20px 0;
	.desctop-slider {
		display: none;
	}
	.mobile-slider {
		.swiper-container-mobile {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;

			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;
				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;

				img {
					max-width: 100%;
				}

				.description-list {
					@include border-box;
					text-align: left;

					li {
						span {
							color: black;
							font: 400 18px / 25px $OpenSans;
						}
					}
				}
			}

			.swiper-button-next, .swiper-button-prev {
				width: 20px;
				height: 30px;
			}

			.swiper-button-prev {
				background-image: none;
				background: url('../images/prev-btn.png') no-repeat;
			}
			.swiper-button-next {
				background-image: none;
				background: url('../images/next-btn.png') no-repeat;
			}
		}
	}
}
.oksana-section {
	padding: 15px 0 20px;
	background-color: #fd9e0e;
	.videoWrapper {
		@include videoWrapper;
	}

	.video-title {
		margin: 20px 0;
		color: black;
		font: 600 22px / 26px $OpenSans;

		span {
			display: block;
		}
	}
	p {
		margin: 10px auto 20px;
		color: black;
		font: 400 18px / 22px $OpenSans;

		&:last-of-type {
			margin-bottom: 10px;
		}
	}
}
.another-menu {
	padding: 20px 0;
	background-color: #fff;

	.another-menu-list {
		@include border-box;
		li {
			display: block;
			max-width: 320px;
			width: 100%;
			margin: 17px auto 19px;
			text-align: center;
			background-color: #f29912;
			line-height: 49px;
			border: 1px solid white;

			a {
				display: block;
				width: 100%;
				height: 49px;
				padding: 10px 0 0;
				color: white;
				font: 400 22px / 27px $OpenSans;
				text-transform: uppercase;
			}
		}
	}
}